<h1 class="title">
  <%= @category.name %>:
</h1>

<nav class="productList">
  <ul>
    <%= render partial: 'product/product',
               collection: @products %>
  </ul>
</nav>
<%= link_to 'Back', category_index_path %>