// Place all the styles related to the finder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game{
    p{
        img{
            width:150px;
            height:200px;
            padding-left:17px;
        }
        color:#888888;
    }
    background-color: #444444;
    width:185px;
    height:250px;
}