// Place all the styles related to the finder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.newestProducts{
    width:auto;
    height:300px;
    background-color:#CCAAAA;
    ul{
        li{
            display:inline;
            position: relative;
            top:25px;
            list-style: none;
        }
    }
    
}

.game{
        img{
            width:150px;
            height:200px;
        }
        a{
            text-decoration: none;
            color:#000;
            position:relative;
            left:-170px;
            top:25px;
        }
        width:185px;
        height:250px;
    }