.productList{
    ul{
        list-style: none;
        li{
            height:220px;
            width:1000px;
            img{
                position:relative;
                top:10px;
                width:125px;
                height:200px;
            }
            .info{
                position:relative;
                top:-180px;
                left:150px;
                .description{
                    position:relative;
                    top:15px;
                }
                .category{
                    position:relative;
                    top:25px;
                }
            }
        }
        li:nth-child(odd){
            background:#AAA;
        }
        li:nth-child(even){
            background:#666;
        }
    }
}